<h2><%= t '.title', user_name? @user.full_name%></h2>

<ul>
	<li><%= '.location', location: @user.location%></li>
	<li><%= t '.bio', bio: @user.bio %></li>l
</ul>
<%= link_to 'Editar Perfil', edit_user_path(@user)%>